node_modules/
*.class
*.log

# sbt specific
.cache
.history
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
twitter4j.properties
/bin/
.project
.classpath
.settings

# JetBrains IDEs specific
.idea

# OS X specific
.DS_Store
